<h1>Eat Da Burger</h1>
<div class="row">
	<div class="column">
		<ul>
			<h2>Fresh Burgers</h2>
			{{#each burgers}}
			{{#unless devoured}}

			<li>
				<p>{{this.id}}: {{this.burger_name}}</p>
				<form action="/eat/{{this.id}}" method="POST">
					<button type="submit">Devour</button>
				</form>

			</li>
			{{/unless}}
			{{/each}}
		</ul>
		<form action="/" method="POST">
		<p class="newburg">Add a burger</p>
			<textarea type="text" name="burger_name" class="newburg"></textarea>

			<button type="submit" class="newburg">Submit</button>
		</form>
	</div>
	<div class="column">
		<ul>
			<h2>Eaten Burgers</h2>
			{{#each burgers}}
			{{#if devoured}}
			<li>
				<p>{{this.id}}: {{this.burger_name}}</p>
				<p>This burger has been eaten!</p>

			</li>
			{{/if}}
			{{/each}}
		</ul>
	</div>
</div>